<div style="padding: 5px 0px 0px 7px;margin: 10px 0px 15px 0px;width: 100%;color: white;-moz-border-radius-bottomright: 10px;-moz-border-radius-bottomleft: 10px;border-bottom-right-radius: 10px;-moz-border-radius-topleft: 10px;-moz-border-radius-topright: 10px;
border-bottom-left-radius: 10px;border-top-right-radius: 10px;border-top-left-radius: 10px;background-color: black;font-size: 27px;-webkit-box-shadow: -12px 1px 22px 1px red;-moz-box-shadow: -12px 1px 22px 1px red;box-shadow: -12px 1px 22px 1px red;"><a href="http://pikcam.com/play-and-win"> <img src="http://pikcam.com/assets/pikcamgame2-62a114ab4b53bd00408a2bb33a7e0dc8.jpg" style="width: 400px"></a></div>
<h1><span class="red">Hello <%= @user.name %>, Pikcam will like you to play. </span> <span style="color: #333333"></span></h1>
            <h3> GAME OBJECTIVE:</h3>
            <p style="font-size: 18px;line-height: 25px;">   
              Game goal is to upload photos and see which user can get the most likes, users with the most likes would receive a cash prize. Photos that are uploaded can consist of any category such as funny, cool, strange scary etc. (nudity or adult photo are not tolerated on pikcam.com ) once you have followed all steps to enter contest listed below, your objective is to get the most likes on your photo by spreading your photo through social media, or by word of mouth. The picture with the most likes by all participants by deadline (which is 5 days till deadline) will receive a cash prize placing 1st, 2nd or 3rd. WANNA PLAY! Let the game begin.

              - See more at: http://pikcam.com/play-and-win#sthash.BwD0O0cT.dpuf
              <br>
              <h4><b> if you could this page with your friends on facebook that would be awesome  </b><br></h4>
              <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fshar.es%2FU8mCd&t=pikcam+cures+boredom+lol"><img src="http://mindofatul.files.wordpress.com/2013/02/995501-facebook-share.gif"></a><br>
              Thank you
              Best Regards
              </p>
              
            
            <br>
            <br>
            <br>
            <p>If you would like to <%= link_to "unsubscribe", user_url(@user) %> from these weekly email click unsubscribe</p>