<% @title = 'About' %>
<div class="category-title">
<h1>About</h1>
</div>
<div class="about-div">
<p>Our story ? Hmm!  we don't have one.  Just 2 nerds having fun building web App on our spare time
we thought it would be cool to test our skills out, and  build a photo hosting site for you guys to share funny, stupid and whatever  other  photos you feel like upload on this site. so to shut up,  we  want u guy to like us on facebook .. and win gifts 

</p>

<h2> So whats up? lets bulid a story ;) </h2>
</div>