<% provide(:title, "help") %>
<h1>help</h1>




<div class= "help-box thumbnail">
<div class="help-pop">
<h3 class="" data-toggle="collapse" data-target="#demo"><a href="#">how to upload a picture</a></h3>
</div>
<div id="demo" class="collapse in "><br><br>
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
</div>
<div class="help-pop">
<h3 class="" data-toggle="collapse" data-target="#demo2"><a href="#">how to make a Account</a></h3>
</div>
<div id="demo2" class="collapse  "> <br><br> 
<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
</div>