<script>  
$(function ()  
{ $("#example").popover();

});  
</script>
<div class= "graybox" >
  <div class="ad-home">

  </div>

  <%= render "uploads/form" %>
  <div class="top-share">
    <h2>Get your friends addicted</h2>
    <!-- Place this tag where you want the badge to render. -->
<div class="g-plus" data-height="69" data-href="//plus.google.com/103812452465040044420?rel=publisher"></div>

<!-- Place this tag after the last badge tag. -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<div class="fb-like" data-href="http://www.facebook.com/pikcam" data-send="true" data-width="300" data-show-faces="true"></div>
  </div>
  <div class= "top-photo">
    <%= link_to image_tag( "donloren.png"), "http://www.donloren.com", :target => "_blank" %>
  </div>

	<div class="home-category">
    <div class="top-line"></div>
			<p class="top-5"><b>Random 5 categories</b></p>

			<%  Category.home_random.each do |user| %>
			
        <div class="home-box thumbnail">
			<H2 class="cat-name"><%= link_to user.name , user %></H2>
		    </div>
			<% end %>
      <div class="top-photos">
        <h3>Recent Images</h3>
        <% @uploads.each do |uploads| %>
        <div class="uploads-border">
        <%= link_to image_tag(uploads.picture.url(:thumb)), uploads %>
        </div>
        <% end %>

      </div>
	
	  
  </div>
  
  <div class="ad-bottom">
  

  <div class="ad-bottom-home">
    
  </div>
  
  </div>
</div>

<div class="addthis_toolbox addthis_default_style">
     <a class="addthis_button_google_plusone"></a> 
     <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
</div> 
 
 