<% @title = "leep2" %>
<div style="padding-top: 60px">
<div style="margin: 10px auto; width: 800px;">	
<script type="text/javascript" src="http://2leep.com/ticker2/11024267/custom/4/4/140/bottom/transparent|0|Arial|1.4em|0.04em|12px|800px|6771|0|1px|%23c0c0c0|center|middle|square|0||black"></script>
</div>
</div>