<% @title = 'lost' %>
<div class="lost_page">
	<h1>Sorry, the page you're looking for can't be found.</h1><br><br>
	<h3>Did you follow this link from another site?</h3>
	<p style="font-size: 16px;">Links from other sites can be outdated or misspelled. Please <a  href="",style="font-size: 16px;">contact us </a> or view the help page. we'll do our best to resolve the issue.</p>
	<h3>Did you type the URL yourself?</h3>
	<p style="font-size: 16px; ">Make sure all of your spelling is correct (including capitalization). If you're still receiving this error we recommend searching for what you're trying to find.</p>
	<h3>Let's get you out of here...</h3>
	<p>Visit the <a href="/">Pikcam Homepage</a>and start exploring</p>
</div>
<div style="height: 490px;"></div>