<% @title = "migd" %>
<div style="padding-top: 60px">
<div style="margin: 10px auto; width: 800px;">	
<!-- MarketGidNews Start -->
<div id="MarketGidScriptRootN4132" class="news-block-magick">
<div id="MarketGidPreloadN4132">
<a id="mg_add4132" href="http://usr.mgid.com/demo/goods/?utm_source=widget&utm_medium=text&utm_campaign=add" target="_blank">Place your ad here</a><br> <a href="http://mgid.com/" target="_blank">Loading...</a> 
</div>
<script> 
(function(){
var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById';
var i=d[ce]('iframe');i[st][ds]=n;d[gi]("MarketGidScriptRootN4132")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];}
catch(e){var iw=d;var c=d[gi]("MarketGidScriptRootN4132");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=4132;c[ac](dv);
var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="http://jsn.dt07.net/p/i/pikcam.com.4132.js?t="+D.getYear()+D.getMonth()+D.getDate()+D.getHours();c[ac](s);})();
</script>
</div>
<!-- MarketGidNews End -->
</div>
</div>