<% @title = "migd" %>
<div style="padding-top: 60px">
<div style="margin: 10px auto; width: 800px;">	
<<!-- Classic, created 01/04/14 -->
<div id="wahohabJL7na"></div>
<script type="text/javascript" src="http://wahoha.com/widget/bJL7na"></script>
<!-- end -->
</div>
</div>