<% @title = "play and to win" %>
<div class="upload-bacgraound2">

<div class="show-container2" >
<div class="playtowin" style="margin: 0px auto;"><%= link_to image_tag("pikcamgame2.jpg", :alt => "humorous pictures and lol photos", :style =>"margin: 0px 0px 0px 112px;"), root_path, :title => "humorous pictures and lol photos" %> 
	<div id="countdown-wrap" style="width: 375px; margin-left: 241px;">
    <h3 style="text-align: center; color: red">The first game will start in...</h3> 
               <div id="countdown" class="countdown">
                    <div class="segment Days">
                        
                </div>
            </div>
        </div>   

 </div>
<div style="margin: 50px 0px 0px 0px;"> 
	<h2 style="color: white;">OBJECTIVE:</h2>
	<P style="font-size: 18px">Game goal is to upload pictures and get the most likes . it could be cool, funny, crazy and other pictures. (No adult or nude pictures) ocne you upload pictures your goal is to get likes on your pictures we add up all the likes from all your pictures and the person with the most likes by the end of the dead line( when the time start you will have 5 days to get as many like as you can to win) wins there are 3 winner 1st, 2nd & 3rd     </P>
</div>
<div style="margin: 30px 0px 0px 0px;"> 
	<h2 style="color: white;">How To Join:</h2>
	<ol style="font-size: 18px"> 
		<li> First make a ancount you can only sgin in thouth facebook <%= link_to image_tag("facebook-login.png", :alt => "facebook sign"), fb_login_url %> if you dont have a facebook than you are unable to play at this time </li>
		<li> then a .50 cent entering fee this is what allows us to give away cash prize to 1st, 2nd & 3rd place and that it </li>
		
	</ol>
</div>
<div style="margin: 30px 0px 0px 0px;"> 
	<h2 style="color: white;">How to pay:</h2>
	<ol style="font-size: 18px"> 
		<li> thought paypal once you sign up you will be give the option to pay your entering fee it's that easy </li>
		
	</ol>
</div>
<div style="margin: 30px 0px 0px 0px;"> 
	<h2 style="color: white;">How do i get paid:</h2>
	<ol style="font-size: 18px"> 
		<li> There are to ways to get paid thats paypal or a pre paid visa card mailed to you address </li>
		
	</ol>
</div>
<div style="margin: 30px 0px 0px 0px;"> 
	<h2 style="color: white;">How much can i win:</h2>
	<ul style="font-size: 18px"> 
		<li> the number is base on how many people play 50% of the entering fee goes to the winners. if 10,000 people play 1st place get 1250  2nd750  </li>
		<li> EXAMPLE: if 10,000 people play 1st place get $1250)  2nd place get $750 & 3rd place get $500</li>
		<li> the more people that play the more you can win so if i was you i would share this  </li>
		<li> <div class="addthis_toolbox2 ">
			<span class='st_facebook_vcount' st_title="pikcam cures boredom lol" st_image= "" st_summary=" " ></span>
			<span class='st_reddit_vcount' displayText='Reddit'></span>
			<span class='st_stumbleupon_vcount' displayText='StumbleUpon'></span>
			<span class='st_twitter_vcount' displayText='Tweet'></span>
			<span class='st_pinterest_vcount' displayText='Pinterest'></span>
			<span class='st_tumblr_vcount' displayText='Tumblr'></span>
			</div>
			<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-502d791f3a21278e"></script></li>
	</ul>
</div>
<div style="margin: 30px 0px 0px 0px;"> 
	<h2 style="color: white;">for more infomation or want to ask qustions add us on facebook</h2>
	<ol style="font-size: 18px"> 
		<li> <div class="fb-like" data-href="https://www.facebook.com/pikcam" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div> </li>
		
	</ol>
</div>
</div>
</div>
<script>
            // countdown setup
            // set date, note: months are 0-based ---- numbers are: year, month, day, hour, minute, second, milliseconds
            var ts = (new Date(2014,0,0,0,0,0,0));
            $('#countdown').countdown({ timestamp : ts, movement: 60 });
        </script>