<% @title = "play and to win" %>
<div class="upload-bacgraound2">

<div class="show-container2" >
<div class="playtowin" style="margin: 0px auto;"><%= link_to image_tag("pikcamgame2.jpg", :alt => "humorous pictures and lol photos", :style =>"margin: 0px 0px 0px 112px;"), root_path, :title => "humorous pictures and lol photos" %> 
	<div id="countdown-wrap" style="width: 375px; margin-left: 241px;">
    <h3 style="text-align: center; color: red">The first game will start in...</h3> 
               <div id="countdown" class="countdown">
                    <div class="segment Days">
                        
                </div>
            </div>
        </div>   

 </div>
<div style="margin: 50px 0px 0px 0px;"> 
	<h2 style="color: white;">OBJECTIVE:</h2>
	<P style="font-size: 18px">Game goal is to upload photos and see which user can get the most likes, users with the most likes would receive a cash prize. Photos that are uploaded can consist of any category such as funny, cool, strange scary etc. (nudity or adult photo are not tolerated on pikcam.com ) once you have followed all steps to enter contest listed below, your objective is to get the most likes on your photo by spreading your photo through social media, or by word of mouth. The picture with the most likes by all participants by deadline (which is 5 days till deadline) will receive a cash prize placing 1st, 2nd or 3rd.  WANNA PLAY! Let the game begin.     </P>
</div>
<div style="margin: 30px 0px 0px 0px;"> 
	<h2 style="color: white;">How To Join:</h2>
	<ol style="font-size: 18px"> 
		<li> Make an account signing in only through Facebook.com. Must have Facebook account to participate <%= link_to image_tag("facebook-login.png", :alt => "facebook sign"), fb_login_url %> if you dont have a facebook than you are unable to play at this time </li>
		<li> Only .50 cents to enter contest using only PayPal a secured process. we give away cash prize to 1st, 2nd & 3rd place \</li>
		<li>.upload picture or pictures and begin getting likes. Spread your photo</li>
		
	</ol>
</div>
<div style="margin: 30px 0px 0px 0px;"> 
	<h2 style="color: white;">How to pay:</h2>
	<ol style="font-size: 18px"> 
		<li> .50 cent to enter is paid only through PayPal you will see the link after sigining up  </li>
		
	</ol>
</div>
<div style="margin: 30px 0px 0px 0px;"> 
	<h2 style="color: white;">How do i get paid:</h2>
	<ol style="font-size: 18px"> 
		<li> There are two ways to get paid your choice  Through Paypal Or receiving a prepaid Visa card mailed to your address </li>
		
	</ol>
</div>
<div style="margin: 30px 0px 0px 0px;"> 
	<h2 style="color: white;">How much can i win:</h2>
	<ul style="font-size: 18px"> 
		<li> The number is based on how many contestants participate </li>
		<li> EXAMPLE: if 10,000 contestant play 1st place cash prize gets $1000, 2nd place $500, and 3rd place $250</li>
		<li>The more participants the more you can win. WANNA PLAY Spread the word. </li>
		<li> <div class="addthis_toolbox2 ">
			<span class='st_facebook_vcount' st_title="pikcam cures boredom lol" st_image= "" st_summary=" " ></span>
			<span class='st_reddit_vcount' displayText='Reddit'></span>
			<span class='st_stumbleupon_vcount' displayText='StumbleUpon'></span>
			<span class='st_twitter_vcount' displayText='Tweet'></span>
			<span class='st_pinterest_vcount' displayText='Pinterest'></span>
			<span class='st_tumblr_vcount' displayText='Tumblr'></span>
			</div>
			<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-502d791f3a21278e"></script></li>
	</ul>
</div>
<div style="margin: 30px 0px 0px 0px;"> 
	<h2 style="color: white;">for more infomation or want to ask qustions add us on facebook</h2>
	<ol style="font-size: 18px"> 
		<li> <div class="fb-like" data-href="https://www.facebook.com/pikcam" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div> </li>
		
	</ol>
</div>
</div>
</div>
<script>
            // countdown setup
            // set date, note: months are 0-based ---- numbers are: year, month, day, hour, minute, second, milliseconds
            var ts = (new Date(2014,0,1,0,0,0,0));
            $('#countdown').countdown({ timestamp : ts, movement: 60 });
        </script>