@import "bootstrap";

.navbar-inner{
	width: 100%;
	height: 60px;
	padding: 0px 0px 0px 0px;


}
.nave li{display: inline; padding-left: 25px; font-family: Arial; 
font-size: 20px;}
.nave { margin-right: 60px; margin-top: 15px; width: 735px;}

@mixin box_sizing{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
}

.thumbnail {
	border-style: none;

}
.container-fluid{
	padding: 0px 0px 0px 0px;
}
.graybox{
	padding: 1px 0px 0px 0px;
	background-image: image_url("polaroy.png");
	background-repeat: no-repeat;
	height: 900px;
	min-width: 1060px;
	width:100%;

}

.home-box li {
	margin-top: 10px;
	background-color: black;
	list-style: none;
	line-height: 15px;
	height: 15px;
	width: 280px;
}
.home-box{
	background-color: black;
	display: table-row-group;
	margin: 20px 0px 10px 0px;
	padding: 0px 0px 0px 10px;
	
}
.signup-box{
	background-color: #fff;
	margin: 0px auto;
	height:400px;
	width:980px;
	padding: 0px 0px 0px 0px;	
}
.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin: 0px 0px 0px 0px;
	@include box_sizing;
}

.signup{
	margin: 20px 0px 0px 5%;

}
label, input, textarea, select{
	font-size: 14px;
	font-weight: bold;
}
.signup-guy{
	float: right;
	padding: 0px 0px 0px 0px;
	height: 400px;
	
}
.signup-h1{
	background-color: #EE6F6F;
	position: relative;
	width: 759px
}
.alert{
	padding: 8px 35px 8px 40%;
	margin-bottom: 0px;
	background-color: #DEF5CD;
	border-color: #D5FBE6;
	color: rgba(15, 89, 245, 0.75);
	font-size: 18px;
}
.login-box{
	margin: 40px 0px 0px 25%;
	height: 800px;
}
.dropdown-menu{
	background-color: #6B6A6A;
	margin: 13px 0 0;
}
.help-box{
	margin: 30px 0px 0px 20%;
	width:850px;
	height:730px;
}
.help-pop{
	margin: 10px 0px 0px 0px;
	background-color: rgba(15, 89, 245, 0.75);
	position: relative;
	width: 850px
}
.footer{
	margin: 0px 0px 0px 0px;
	background-color: #2C2C2C;
background-image: -moz-linear-gradient(top, #070707, #222);
background-image: -ms-linear-gradient(top, #070707, #222);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#070707), to(#222));
background-image: -webkit-linear-gradient(top, #070707, #222);
background-image: -o-linear-gradient(top, #070707, #222);
background-image: linear-gradient(top, #070707, #222);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF333333', endColorstr='#FF222222', GradientType=0);
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	padding: 10px 0px 0px 0px;
	height: 70px;
	width: 100%;
	min-width: 1060px;
  	

}
.bio-box{
-moz-box-shadow: 5px 5px 5px #C0B5B5;
-webkit-box-shadow: 5px 5px 5px #C0B5B5;
box-shadow: 5px 5px 15px #C0B5B5;
background-image: linear-gradient(bottom, #EE8F8F 0%, rgb(152,141,204) 37%, rgb(152,240,197) 100%);
background-image: -o-linear-gradient(bottom, #EE8F8F 0%, rgb(152,141,204) 37%, rgb(152,240,197) 100%);
background-image: -moz-linear-gradient(bottom, #EE8F8F 0%, rgb(152,141,204) 37%, rgb(152,240,197) 100%);
background-image: -webkit-linear-gradient(bottom, #EE8F8F 0%, rgb(152,141,204) 37%, rgb(152,240,197) 100%);
background-image: -ms-linear-gradient(bottom, #EE8F8F 0%, rgb(152,141,204) 37%, rgb(152,240,197) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #EE8F8F),
	color-stop(0.37, rgb(152,141,204)),
	color-stop(1, rgb(152,240,197))
);
height: 150px;
width:300px;
-moz-border-radius-bottomright: 60px 55px;
border-bottom-right-radius: 60px 55px;
-moz-border-radius-bottomleft: 20px 15px;
border-bottom-left-radius: 20px 15px;
margin: 0px 0px 0px 0px;
}
.profile{
	min-width: 1120px;
	width: 100%;
	height: 965px;
	background-color: #DDD;
}
.profile-box{

	margin: 0px 0px 0px 20px;
	padding: 110px 0px 0px 0px;
}
.black-line{
	background-color: #333333;
	height: 10px;
	width:300px;
	margin: 15px 0px 0px 0px;
}
.profile-font{
	background-color: #EE6F6F;
	width: 350px;
	margin: 10px 0px 0px 0px;
	font-size: 14px;
	-moz-box-shadow: 1px 10px 12px #BEC1C2;
-webkit-box-shadow: 1px 10px 12px #BEC1C2;
box-shadow: 1px 10px 12px #BEC1C2;
-moz-border-radius-bottomright: 20px 18px;
border-bottom-right-radius: 20px 18px;
-moz-border-radius-topright: 20px 15px;
border-top-right-radius: 20px 15px;

}
.navme2{
	width: 1060px;
	margin: 0px auto;

}
.clirlink {
	line-height: 38px;
	margin: 0px 50px 0px 0px;
	padding: 0px 10px 0px 10px;
	border-left: 2px solid white;
	height: 40px;
	width: 72px;
	-moz-border-radius-bottomright: 14px 18px;
	border-bottom-right-radius: 14px 18px;
	-moz-border-radius-topright: 14px 15px;
	border-top-right-radius: 14px 15px;
	display: inline;
	font-size: 1.5em;
	float: left;

}
.clirle-nav li{
	width: 70px;
	display: inline;

}
.clirle-nav{
	text-align: center;
	margin: 0px 0px 0px 0%;
}
.li{
	line-height: 78px;
}
.clirle-l  {
	color: #DDD;
	padding-left: 10px;
}
a.ex1:hover,a.ex1:active {color:#7CE4C3;text-decoration:none;}
.edit-page{
	background-color: #fff;
	margin: 5px 0px 0px 10%;
	border-style: solid;
	border-color: #D86666;
	border-width: 10px;
	width: 700px;
	height: 870px;
	padding: 15px 0px 0px 35px;
	-moz-border-radius: 45px;
border-radius: 45px;
}
.edit-line{
	background-color: #DDD;
	height: 5px;
	width:700px;
	margin: 2px 0px 5px 0px;
}
.about-line{
background-color: #DDD;
	height: 5px;
	width: 700px;
	margin: 2px 0px 5px 0px;
}
a{
	color: #DDD;
}
a:hover{
	color: #7366D1;
}
.graybox1{
	background-color: #d9d7db;
	padding: 30px 0px 0px 0px;
	height: 820px;
	min-width: 1060px;
}
.avatar{
	background-color: #D86666;
}
.list-signup{
	float: left;
	margin: 54px 0px 0px 400px;
	position: absolute;
}
.list-signup li{
	font-size: 16px;
	margin: 10px 0px 0px 0px;

}
.profile-pic{
	border: 8px solid #161817;
	-moz-border-radius-bottomright: 50px;
	-moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 50px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    -moz-box-shadow: 5px 6px 10px rgba(128, 123, 123, 0.77);
    -webkit-box-shadow: 5px 6px 10px rgba(128, 123, 123, 0.77);
    box-shadow: 5px 6px 10px rgba(128, 123, 123, 0.77);
    margin: 0px 0px 10px 0px;
     
}
.inlinefrom{

	display: inline-block;
}
.inlinefrom2{
	display: inline-block;
	position: relative;
	margin-top: -10px;
}
.home-up{
	width: 630px;
	background-color: #161817;
	padding: 10px 10px 5px 10px;
	margin: 0px auto;
	margin-top: 40px;
	border: 5px solid #161817;
	-moz-box-shadow: -1px 2px 28px #434FDA;
    -webkit-box-shadow: -1px 2px 28px #434FDA;
    box-shadow: -1px 2px 28px #434FDA;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.upload-new{
	width: 400px;
	background-color: #EE6F6F;
	padding: 9px 10px 10px 10px;
	margin: 50px 0px 0px 700px;
	border: 10px solid #8D2626;
	-moz-border-radius-bottomright: 50px;
	-moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 50px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.upload-show{
	display: inline-block;
	width: 600px;
	background-color: black;
	padding: 0px 10px 10px 10px;
	margin: 288px 0px 0px 0px;
	border: 10px solid black;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px; 
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    -webkit-box-shadow: 0px 5px 27px black;
	-moz-box-shadow: 1px 5px 27px black;
	box-shadow: 1px 5px 27px black;

}
.home-list{
	margin-top: 100px;
	float: left;
	margin-left: -180px;
	
}
.home-category{
	padding-top: 10px;
	margin: 0px 0px 0px 0%;
	background-color: #161817;

	
}
.big-e{
	font-size: 28px;
}
.upload-side{
	clear: right;
	width: 290px;
	background-color: black;
	padding: 9px 10px 10px 10px;
	margin: 28px 0px 16px 0px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	height: 160px;
	-moz-box-shadow: -1px 0px 28px rgba(50, 67, 189, 0.73);
	-webkit-box-shadow: -1px 0px 28px rgba(50, 67, 189, 0.73);
	box-shadow: -1px 0px 28px #0C28F3;
}
.upload-bacgraound{
	min-width: 1060px;
	height: 100%;
	padding: 0px 0px 0px 0px;
	background-color: black;
}
.category{
	width: 420px;
	position: absolute;
	margin: 0px 0px 0px 430px;
	padding: 0px 0px 0px 0px;
}
.category-1{
	color: #000;
	width: 420px;
	display: inline-table;
	margin: 0px 0px 0px 0px;
}
.mainbox{
	width: 1060px;
	height: 663px;
	margin: 0px auto;
	margin-top: 60px;
}
.infolink{
	width: 1060px;
	margin: 0px auto;
}
.mainbox2{
	margin-top: 30px;
	background-color: black;
	clear: both;
	-moz-box-shadow: -5px -10px 20px rgb(36, 57, 206);
    -webkit-box-shadow: -5px -10px 20px rgb(36, 57, 206);
    box-shadow: -5px -10px 20px rgb(36, 57, 206);
}
.ad-home{
	margin: 50px 0px 0px 0px;
	height: 250px;
	width: 300px;
	float: left;
}
.ad-bottom-home{
	margin: 10px 0px 0px 25%;
	border: 2px solid #999;
	height: 90px;
	width: 728px;
	float: left;
	

}
.ad-bottom{
	margin: 0px 0px 0px 0px;
	width: 100%;
	height: 135px;
	background-color: #fff;
}
.popover{
	
}
.for-comment{
	width: 620px;
	min-height: 51px;
	background-color: rgba(0, 0, 0, 0.99);
	padding: 9px 10px 10px 10px;
	margin: 192px 0px 0px 0px;
	border: 0px solid #161817;
	-moz-border-radius-bottomright: 50px;
	-moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 50px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    -webkit-box-shadow: -2px 3px 2px rgba(17, 26, 243, 0.66);
	-moz-box-shadow: -2px 3px 2px rgba(17, 26, 243, 0.66);
	box-shadow: -2px 3px 2px rgba(17, 26, 243, 0.66);
	
}
.share-box{
	position: absolute;
	width: 640px;
	background-color: rgb(0, 0, 0);
	height: 165px;
	margin: -12px 0px 0px 0px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-topright: 20px; 
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.cateoriesh2{

	padding: 5px 0px 10px 0px;
	height: 50px;
	width: 100%;
	min-width: 1060px;
	background-image: -moz-linear-gradient(top, black, #161817);
background-image: -ms-linear-gradient(top, black, #161817);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(#161817));
background-image: -webkit-linear-gradient(top, black, #161817);
background-image: -o-linear-gradient(top, black, #161817);
background-image: linear-gradient(top, black, #161817);
background-repeat: repeat-x;
-moz-box-shadow: -5px 3px 15px rgba(50, 67, 189, 0.73);
    -webkit-box-shadow: -5px 3px 15px rgba(50, 67, 189, 0.73);
    box-shadow: -5px 3px 15px rgba(50, 67, 189, 0.73);

}
.list-cateories{
	width: 400px;
	height: 100%;
	margin-bottom:  20px;
	padding: 0px 0px 0px 0px;
	border: 0px solid #8D2626;
	
}
.ad-bottom1{
	width: 100%;
	height: 135px;
	
}
.ad-upload{
	clear: both;
	margin: 12px 0px 10px 0px;
	
	height: 250px;
	width: 300px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.top-photo{

	clear: right;
	margin: 0px 10px 0px 0px;
	float: right;
	height: 85px;
	width: 310px;
	background-color: #DDD;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
}
.top-share{
	position: absolute;
	margin: 37px 0px 0px 315px;
	height: 240px;
	width: 268px;
	-moz-border-radius-topleft: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-left-radius: 10px;
}
.browse{
	position: absolute;
	display: inline-block;
	margin: -9px 0px 0px 0px;
	width: 639px;
	height: 162px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 27px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	border-bottom-left-radius: 27px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	padding: 5px 0px 0px 5px;
	border-top: 0px;
	border-left: 0px;
	-webkit-box-shadow: 2px 3px 0px rgba(17, 26, 243, 0.66);
	-moz-box-shadow: 2px 3px 0px rgba(17, 26, 243, 0.66);
	box-shadow: 2px 3px 0px rgba(17, 26, 243, 0.66);
   
}
.addthis_toolbox {
	margin: 12px 0px 0px 0px;
	padding: 5px 0px 7px 10px;
	background: black;
}
.cat-list{
	float: left;
	margin: 10px 10px 0px 0px;
	color: #333;
}
a.ex3 {
	color:#333;
	margin-left: 10px;
}
a.cat:hover {color: #DDD;}
.user-name{
	padding: 10px 0px 5px 10px;
	height: 27px;
	background: black;
	width: 480px;
	float: left;
	font-size: 2em;
	color: #303030;
}
.fb-comments{
	position: absolute;
}
.displayed {
	text-align: center;
    display: block;
}
.list-more{
	position: absolute;
	height: 40px;
	width: 100%;
	margin: 0px auto;
	background-color: black;
	-moz-box-shadow: -3px 0px 24px rgba(23, 50, 243, 0.93);
	-webkit-box-shadow: -3px 0px 24px rgba(23, 50, 243, 0.93);
	box-shadow: -3px 0px 24px rgba(23, 50, 243, 0.93);
}
.list-more2 {
	position: absolute;
	height: 40px;
	width: 100%;
	margin: -1px auto;
	background-color: black;
	-moz-box-shadow: 0px 7px 16px rgba(23, 50, 243, 0.93);
	-webkit-box-shadow: 0px 7px 16px rgba(23, 50, 243, 0.93);
	box-shadow: 0px 7px 16px rgba(23, 50, 243, 0.93);
	min-width: 1050px;
	}
.browse-more{
	
}
.p-title{
	
	padding: 10px;
	position: absolute;
	margin: 248px 0px 0px 0px;
	width: 620px;
	color: #DDD; 
	background-color: rgba(0, 0, 0, 0.97); 
	font-size: 30px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px; 
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}
.fb-like{
	
}
.strftime{
	padding-left: 10px;
	margin: 0px 0px 0px 0px;
	float: left;
	font-size: 18px;
}
.side-bar{
	float: right;
    margin-top: 0px;
    width: 315px;
    margin: 0px 10px 15px 0px

}
.photo-count{
	background-color: #7A7777;
	margin: 0px 0px 0px 900px;
	position: absolute;
	width: 200px;
	height: 60px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.container{
	width: 1000px;
}
body{
	background-color: black;
}
.top-5{
	margin: 0px 0px 10px 5px;
	font-size: 30px;
}
.top-line{
	width: 1000px;
	height: 5px;
	margin: 0px 0px 10px 0px;
	background-color: #161817;
}
.gif-explore{
	margin-left: 200px;
    display: inline-block;
	width: 1100px;
	height: 400px;

}
.cat-name{
	margin: 15px 0px 0px 10px;
	background-color: #161817;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px; 
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.category-nam{
	margin: 0px 0px 0px 55px;
	float: left;
	font-size: 18px;
}
.category-namd{
	background-color: #3940E6;
	margin: 0px 0px 0px 5px;
	float: left;
	font-size: 18px;
	padding: 2px 2px 0px 2px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
a:hover{
	text-decoration: none;
}
.user_pic{
	position: absolute;
	padding: 0px 20px 0px 0px;
	display: inline-block;
	margin: 120px 0px 0px 450px;
	width: 45%;
	min-width: 624px;
	
	-moz-border-radius: 5px 5px 5px;
    border-radius: 5px 5px 5px;
	background-image: linear-gradient(bottom, rgb(148,146,148) 0%, rgb(221,221,221) 79%);
	background-image: -o-linear-gradient(bottom, rgb(148,146,148) 0%, rgb(221,221,221) 79%);
	background-image: -moz-linear-gradient(bottom, rgb(148,146,148) 0%, rgb(221,221,221) 79%);
	background-image: -webkit-linear-gradient(bottom, rgb(148,146,148) 0%, rgb(221,221,221) 79%);
	background-image: -ms-linear-gradient(bottom, rgb(148,146,148) 0%, rgb(221,221,221) 79%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(148,146,148)),
	color-stop(0.79, rgb(221,221,221))
);

}
.most-recent{
	width: 480px;
	margin: 30px;
	padding: 10px 0px 15px 20px;
	margin: 0px 0px 0px 500px;

}
.recent-add2{
	margin: 10px;
	padding-right: 10px;
	background-image: -moz-linear-gradient(top, black, #161817);
background-image: -ms-linear-gradient(top, black, #161817);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(#161817));
background-image: -webkit-linear-gradient(top, black, #161817);
background-image: -o-linear-gradient(top, black, #161817);
background-image: linear-gradient(top, black, #161817);
background-repeat: repeat-x;
}

.recent-add{
	margin: 10px;
	padding-right: 10px;
	background-image: -moz-linear-gradient(top, black, #161817);
background-image: -ms-linear-gradient(top, black, #161817);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(#161817));
background-image: -webkit-linear-gradient(top, black, #161817);
background-image: -o-linear-gradient(top, black, #161817);
background-image: linear-gradient(top, black, #161817);
background-repeat: repeat-x;
-moz-box-shadow: 0px 0px 15px rgba(50, 67, 189, 0.73);
-webkit-box-shadow: 0px 0px 15px rgba(50, 67, 189, 0.73);
box-shadow: 0px  0px 15px rgba(50, 67, 189, 0.73);
}
.category-explore{
	padding-right: 10px;
	background-image: -moz-linear-gradient(top, black, #161817);
background-image: -ms-linear-gradient(top, black, #161817);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(#161817));
background-image: -webkit-linear-gradient(top, black, #161817);
background-image: -o-linear-gradient(top, black, #161817);
background-image: linear-gradient(top, black, #161817);
background-repeat: repeat-x;
}
.cateories-title{
	min-width: 1060px;
	z-index: -1;
position: absolute;
margin: 10px 0px;
float: left;
height: 40px;
text-align: center;
width: 100%;
background-image: -moz-linear-gradient(top, black, #161817);
background-image: -ms-linear-gradient(top, black, #161817);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(#161817));
background-image: -webkit-linear-gradient(top, black, #161817);
background-image: -o-linear-gradient(top, black, #161817);
background-image: linear-gradient(top, black, #161817);
background-repeat: repeat-x;
-moz-box-shadow: 0px 0px 15px rgba(50, 67, 189, 0.73);
-webkit-box-shadow: 0px 0px 15px rgba(50, 67, 189, 0.73);
box-shadow: 0px 0px 15px rgba(50, 67, 189, 0.73);
}
.show-container{
	padding: 10px 10px 1px 0px;
	clear: both;
    margin: 50px auto;
    margin-bottom: 10px;
    width: 1050px;
    min-height: 1182px;

}
.up-ad{
	margin: 2px auto;
	margin-bottom: 10px;
	width: 728px;
	height: 90px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
.home-private{
	width: 630px;
	position: relative;
	background-color: rgb(116, 116, 231);
}
.label-private{
	display: inline;
}
.nve li {
display: inline;
padding-left: 25px;
font-family: Arial;
font-size: 16px;
}
.brands{
	display: inline-table;
}
.pull-lef {

display: inline-table;

}

.page{
	float: left;
	line-height: 54px;
	font-size: 13px

}

.containe{
	width: 100%;
}
.user-paginate{
	background-color: #949294;
}
.pagination a, .pagination span {
float: left;
padding: 0 14px;
line-height: 34px;
text-decoration: none;
border: 1px solid #838383;
border-left-width: 0;
background-color: rgb(139, 139, 139); 
}

a.pagin{
	color: #333;
}
.top-photos{
	padding-left: 10px;
	margin: 0px auto;
	height: 322px;
	width: 1044px;
	border: 3px solid #7474E7;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
	
}
.category-title{
	text-align: center;
	width: 100%;
	min-width: 1060px;
	padding: 0px 0px 0px 0%;
	background-color: #000;
}
.cat-showad{
	margin: 15px auto;
	border: 2px solid #999;
	height: 90px;
	width: 728px;
	clear: both;
}
.cat-showad3 {
	margin: 15px auto;
	height: 520px;
	width: 728px;
	clear: both;
}
.uploads-border{
	margin: 43px 15px 10px 0px;
	width: 200px;
	float: right;

}
.about-div{
	width: 900px;
	margin: 20px auto;
	height: 730px;
}
.upload-errors{
	font-size: 14px;
	background-color: rgb(179, 85, 85);
}
.terms_h1{
	background-color: #fff;
	padding-left: 40%;
}
.terms{
	margin: 20px auto;
	width: 980px
}
.img_index{
	display: inline-table;
	margin: 10px 10px 0px 0px;
}
.img_user{
	display: inline-table;
	margin: 3px 3px 0px 0px;
}
.user-showad{
	margin: 20px 0px 0px 0px;
	border: 2px solid #999;
	height: 250px;
	width: 300px;
	float: left;
}
.edit_link{
	width: 400px;
	margin: 20px 0px 0px 0px;
	float: left;
	background-color: #6951C7;
	
}
.lost_page{
	background-color: #6951C7;
	width: 900px;
	border: 2px solid #333;
	margin: 30px 0px 0px 20%;
	padding: 20px 20px 20px 20px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.cat-showad2 {
margin: 10px 0px 0px 30%;
border: 2px solid #999;
height: 90px;
width: 728px;
float: left;
}
.coolli2{
	font-size: 16px;
	display: inline;
	line-height: 30px;
	margin: -30px 30px 0px 60px;
	height: 30px;
padding: 0px 0px 0px 0px;
-moz-border-radius: 5px 5px 5px;
border-radius: 5px 5px 5px;

text-align: center;
float:left;
}
.coolli-facebook{
	font-size: 16px;
	display: inline;
	line-height: 30px;
	margin: 0px 10px 0px 0px;
	height: 30px;
padding: 0px 0px 0px 0px;
-moz-border-radius: 5px 5px 5px;
border-radius: 5px 5px 5px;

text-align: center;
float:left;
-webkit-box-shadow: inset 5px 5px 10px 10px #0E0E0E;
        
        box-shadow: inset 5px 5px 10px 10px #0E0E0E;
background-image: linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);
background-image: -o-linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);
background-image: -moz-linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);
background-image: -ms-linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(20,19,20)),
	color-stop(1, rgb(43,40,43))
);

}
.next-pev{
	border-bottom: 2px solid black;
	background: #3243BD;
	width: 313px;
	margin: 0px 0px 6px 0px;
	padding: 5px 0px 7px 0px;
	float: right;
}
.next-box{
font-size: 20px;
	display: inline;
	line-height: 30px;
	margin: 0px 15px 0px 0px;
	height: 37px;
	width: 125px;
padding: 0px 0px 0px 0px;
-moz-border-radius: 5px 5px 5px;
border-radius: 5px 5px 5px;

text-align: center;
float:left;
-webkit-box-shadow: inset 5px 5px 10px 10px #0E0E0E;
        
        box-shadow: inset 5px 5px 10px 10px #0E0E0E;
background-image: linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);
background-image: -o-linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);
background-image: -moz-linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);
background-image: -ms-linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(20,19,20)),
	color-stop(1, rgb(43,40,43))
);

}
.coolli{
	font-size: 16px;
	display: inline;
	line-height: 30px;
	margin: 0px 0px 0px 0px;
	height: 30px;
	width: 45px;
padding: 0px 0px 0px 0px;
-moz-border-radius: 5px 5px 5px;
border-radius: 5px 5px 5px;

text-align: center;
float:left;
-webkit-box-shadow: inset 5px 5px 10px 10px #0E0E0E;
        
        box-shadow: inset 5px 5px 10px 10px #0E0E0E;
background-image: linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);
background-image: -o-linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);
background-image: -moz-linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);
background-image: -ms-linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(20,19,20)),
	color-stop(1, rgb(43,40,43))
);

}
.hate{
display: inline;
margin: 0px 0px 0px 60px;
background-color: #6951C7;
padding: 0px 10px 0px 10px;
-moz-border-radius: 5px 5px 5px;
border-radius: 5px 5px 5px;
}
.like{
display: none;
background-color: #6951C7;
margin: 0px 0px 0px 30px;
padding: 0px 10px 0px 10px;
-moz-border-radius: 5px 5px 5px;
border-radius: 5px 5px 5px;
}
.likehate{
	float: right;
	margin: -33px -30px 0px 0px;
}
.my_nav{
	float: right;
	margin: 70px 28% 0px 0px;

	
}
.link_change{
	display: inline;
	margin: 0px 0px 0px 5px;
	font-size: 1.2em;
 	font-weight: bold;
	line-height: 45px;
	height: 45px;
	width: 80px;
padding: 0px 0px 0px 0px;
-moz-border-radius: 5px 5px 5px;
border-radius: 5px 5px 5px;

text-align: center;
float:left;
-webkit-box-shadow: inset 5px 5px 10px 10px #BDBDBD;
        
        box-shadow: inset 5px 5px 10px 10px #BDBDBD;
background-image: linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);
background-image: -o-linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);
background-image: -moz-linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);
background-image: -ms-linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #A3A3A3),
	color-stop(1, #B9A7B9)
);

}
.linked_back{
	display: inline;
	margin: 0px 0px 0px 5px;
	font-size: 1.2em;
 	font-weight: bold;
	line-height: 45px;
	height: 45px;
	width: 80px;
padding: 0px 0px 0px 0px;
-moz-border-radius: 5px 5px 5px;
border-radius: 5px 5px 5px;

text-align: center;
float:left;
-webkit-box-shadow: inset 5px 5px 10px 10px #BDBDBD;
        
        box-shadow: inset 5px 5px 10px 10px #E0E0E0;
background-image: linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);
background-image: -o-linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);
background-image: -moz-linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);
background-image: -ms-linear-gradient(bottom, rgb(20,19,20) 0%, rgb(43,40,43) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, #DFDFDF),
	color-stop(1, #fff)
);
}

.my_nav a{
	color: black;
}
.my_nav a:hover {
	color: #766CBE;
}
.my_nav li h3{
	display: block;

}
#like_pics{
	display: none;
}
.photo_counter{
	font-size: 25px;
	padding: 5px 0px 0px 25px;
}
.photo_name{
	font-size: 20px;
	padding: 0px 0px 0px 10px;
}
.l_h{
	margin: 0px 0px 0px 80px;
}
.ph{
	position: absolute;
	
}
h3{
	line-height: 10px
}
h2{
	margin: 0px;
	font-size: 25px;
}
.navbar-inner{
	background-image: -moz-linear-gradient(top, #252525, #000);
background-image: -ms-linear-gradient(top, #252525, #000);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#252525), to(#000));
background-image: -webkit-linear-gradient(top, #252525, #000);
background-image: -o-linear-gradient(top, #252525, #000);
background-image: linear-gradient(top, #252525, #000);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF333333', endColorstr='#FF222222', GradientType=0);
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	padding: 10px 0px 0px 0px;
	height: 60px;
	width: 100%;
	min-width: 1060px;
	 -webkit-box-shadow: -5px 3px 8px rgba(50, 50, 50, 0.66);
	-moz-box-shadow:    -5px 3px 8px rgba(50, 50, 50, 0.66);
	box-shadow:         -5px 3px 8px rgba(50, 50, 50, 0.66);
	border: none;

}
.side_ad{
	margin: 0px 0px 0px 0px;
	float: left;
	width: 160px;
	height: 600px;
	border: 2px solid black
}
.hold_ad{
	float: left;
	height: 600px;
	margin: 10px 0px 10px 10%;
}
.loading{
	display: none;
	position: absolute;
	margin: 45px 0% 0px 44%
}
.categories_new{
	margin: 40px 0px 0px 100px;
}
.help_h3{
	margin-top: 30px;
}
.ad-bottom-home5{
	margin: 10px 0px 0px 22%;
	height: 90px;
	width: 728px;
	float: left;
}
.push-foot{
	height: 300px;
}
.index-adc{
	
	margin-left: 10px;
	clear: left;
    border: 2px solid black;
	margin-top: 30px;
	width: 336px;
	height: 280px;
}
.next_photo{
	font-size: 16px;
	color: #6951C7;
	position: absolute;
	top: 45%;
	left: 56.5%;
	z-index: 9;
	cursor: pointer;
}
.pre_photo{
	font-size: 16px;
	color: #6951C7;
	position: absolute;
	top: 45%;
	left: 16%;
	z-index: 9;
	cursor: pointer;
}
.homep{
	color: #7474E7;
	margin: 0px 0px 0px 0px;
}
.bottom_pfg{
	margin: 10px auto;
	clear: both;
	width: 1030px;
}
.our-link{
	margin-left: 10px;
	display: inline-table;
	width: 600px;
	height: 88px;
	
}
.link-up-main{
	height: 780px;
}
.frinds-list li {
	display: inline;
}
.mainbox2 h1{

	margin: 0px 5px 0px 22%;
}
.our-link h4{
 color: #7474E7;
}
.tb-text{
	color: white;
	width: 250px;
	font-size: 16px;
	display: table;
	margin: 10px 5px 0px 5px;
}
.post-table{
	background-color: rgba(0, 0, 0, 0.42); 
	margin: 15px 0px 10px 0%;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
     -webkit-box-shadow: -5px 3px 8px rgba(50, 50, 50, 0.66);
	-moz-box-shadow:    -5px 3px 8px rgba(50, 50, 50, 0.66);
	box-shadow:         -5px 3px 8px rgba(50, 50, 50, 0.66);
}
.post-table2{
	background-image: -moz-linear-gradient(top, #161817, #7474E7);
background-image: -ms-linear-gradient(top, #161817, #413CB9);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#161817), to(#7474E7));
background-image: -webkit-linear-gradient(top, #161817, #7474E7);
background-image: -o-linear-gradient(top, #161817, #7474E7);
background-image: linear-gradient(top, #161817, #7474E7);
background-repeat: repeat-x; 
	margin: 15px 0px 10px 0%;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
     -webkit-box-shadow: -5px 3px 8px rgba(50, 50, 50, 0.66);
	-moz-box-shadow:    -5px 3px 8px rgba(50, 50, 50, 0.66);
	box-shadow:         -5px 3px 8px rgba(50, 50, 50, 0.66);
}
.background-explore {
	width: 460;
	float: left;
}
.simple_overlay {
	display:none; 
	margin-top: -70px; 
	position: fixed;
 	z-index: 5000;
   background-color: #ddd ;
    color:#efefef;
    width: 100%;
    height: 100%;
}
.explore-main{
	width: 980px;
	margin: 0px auto;
}
.twitter-tweet{
	padding: 5px 0px 0px 5px;
}
.containe{
	margin: auto;
	width: 100%;

}
.home-logo{
	float: left;
	margin-left: 40px;
}
.td-home{

}
.for-font{
	color: rgb(56, 68, 151);
}
.around-web{
	margin-top: 30px;
	width: 600px;
}
.browse-show{
	display: inline-block;
	width: 150px;
	height: 130px;
}
.black-sq{
	position: absolute;
	background: black;
	width: 600px;
	height: 25px;
	margin: 5px 0px 0px 0px;
}
.black-sq h2{
line-height: 27px;
color: black;
text-align: center;
width: 350px;
margin: 1px auto;
padding: 0px 0px 0px 0px;
height: 24px;
background-color: rgba(50, 67, 189, 0.73);
}
.black-sqft{
	background: black;
	width: 300px;
	height: 25px;
	margin: 0px 0px 13px 0px;;
}
.black-sqft h2{
	line-height: 27px;
	color: black;
	text-align: center;
	width: 301px;
	margin: 6px auto;
	padding: 0px 0px 0px 0px;
	height: 24px;
	background-color: rgba(50, 67, 189, 0.73);

}
.video-background{
	width: 100%;
	min-width: 1060px;
	height: 100%;
	background-image: linear-gradient(bottom, rgb(0,0,0) 55%, rgb(255,255,255) 55%);
background-image: -o-linear-gradient(bottom, rgb(0,0,0) 55%, rgb(255,255,255) 55%);
background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 55%, rgb(255,255,255) 55%);
background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 55%, rgb(255,255,255) 55%);
background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 55%, rgb(255,255,255) 55%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.55, rgb(0,0,0)),
	color-stop(0.55, rgb(255,255,255))
);
}
.mainbox-video{
	margin: auto;
	width: 1060px;
	min-height: 1000px;
}
.black-line{
	min-width: 1060px;
	position: absolute;
	width: 100%;
	height: 42px;
	margin: 484px 0px 0px 0px;
	background-color: black;
	-moz-box-shadow: 0px -4px 40px rgba(23, 50, 243, 0.63);
	-webkit-box-shadow: 0px 0px 40px rgba(23, 50, 243, 0.63);
	box-shadow: 0px -4px 40px rgba(23, 50, 243, 0.63);
}
.videoholder{
	margin: 0px 0px 0px 100px;
	width: 672px;
	height: 387px;
	background-image: image_url("videoshadow.png");
}
.share-boex{
	background-color: black;
	margin: -27px 0px 25px 258px;
	width: 300px;
	height: 92px;
	-moz-border-radius-bottomleft: 20px;
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}
.next-video{
	width: 292px;
	margin: -48px -16px 0px 0px;
	padding: 5px 0px 7px 0px;
	float: right;
}
.video-sidebar{
	width: 294px;
	float: right;
	height: 468px;
	
}
.sideleft-ad{
	float: left;
	border: 2px solid black;
	width: 160px;
	height: 600px;
}
.browse-for{
	margin: 70px 0px 0px 0px;
	float: right;
	background-color: black;
	width: 639px;
	height: 240px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 11px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	border-bottom-left-radius: 11px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
	padding: 0px 0px 0px 5px;
	border-top: 0px;
	border-left: 0px;
	-webkit-box-shadow: 0px 6px 16px rgba(17, 26, 243, 0.66);
	-moz-box-shadow: 0px 6px 16px rgba(17, 26, 243, 0.66);
	box-shadow: 0px 6px 16px rgba(17, 26, 243, 0.66);
}
.dailymotion_thumb{
	width: 125px;
	height: 90px;
}
.table-video{
	display: inline-table;
	width: 294px;
	margin: 5px 0px 0px 0px;
	background-color: rgb(46, 71, 202);
}
.for-damnie{
	z-index: -1;
	margin: 532px 0px 0px 0px;
	position: absolute;
	width: 100%;
	min-height: 790px;
	background-color: black;

}
.last-ad{
	margin: 66px 0px 20px 0px;
	float: left;
	border: 2px solid;
	width: 300px;
	height: 250px;
}
.kowned{
	clear: both;
	height: 420px;
	width: 750px;
	margin: 10px auto;
}
.more-around{
	position: absolute;
clear: both;
width: 1060px;
height: 25px;
margin: 8px 0px 0px 0px;
background-color: red;

}
.home-video{
	margin: 0px auto;
	margin-bottom: 25px;
	width: 1050px;
	
}
.side-upload{
	border: 3px solid rgba(50, 67, 189, 0.73);
	width: 160px;
}

.leep{
	margin: 0px 0px 0px -24px;
}
.rest-of-pic {
	clear: both;
	width: 1026px;
	height: 250px;

}
.uploads-border2 {
float: left;
margin: 5px 25px 10px 0px;
width: 170px;

}
.black-t{
	background-color: black;
	width: 100%;
}
.video-form{
	margin: 20px 0px 0px 200px;
}
.table-ie8{
	width: 200px;
}
.ttable-ie8{
	width: 170px;
}
.spencer{
	width: 572px;
	position: absolute;
	margin: 175px 0px 0px 0px;
	clear: both;
}
.spencer h4{
	color: rgb(214, 47, 61);
	margin: 19px 10px 0px 0px;
	float: left;
}
.user-count{
	line-height: 25px;
	font-size: 19px;
	text-align: center;
	background-color: rgba(219, 54, 54, 0.91);
	min-width: 1060px;
	clear: both;
	padding: 2px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px; 
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.fb{
	height: 88px
}
.addthis_toolbox2 {
	height: 86px;
	margin: 12px 0px 0px 0px;
	padding: 5px 0px 7px 10px;
	background: black;
}
.exmore{
	background-color: black;
	width: 30px;
	height: 70px;
}
.exmore h4{
	font-size: 20px;
	color: white;
}