<div class="cateoriesh2">
<h2 style="margin-left: 750px;">Explore The Categories</h2>
</div>
<div class="list-cateories">
</div>
 <div class="ad-bottom1">
  <div class="ad-bottom-home">

  </div>
</div>