<div class="background-explore">
<div class="cateoriesh2">
<h1 style="margin-left: 700px;">Explore The Categories</h1>
</div>

<div class="gif-explore">
  <div class="slider-wrapper theme-default">
    <div id="slider" class="nivoSlider">
      <% @uploads_slideshow.each do |ups| %>
      <%= link_to image_tag(ups.picture.url(:large)), ups %>
      <% end %>
    </div>
</div>
<div class="index-ad"></div>
	
</div>
<h2 class="cateories-title"> Categories </h2>
<div class="list-cateories">
	<%  @categories.each do |category| %>
			
        
			<H2 class="cat-list "><%= link_to category.name, category,  :class => "ex3 cat" %> | </H2>
		    
			<% end %>
</div>
 <div class="ad-bottom1">
  <div class="ad-bottom-home">

  </div>
  
</div>
<h2 class="recent-add"> Most recent upload</h2>
<div class=""></div>
<div class="most-recent">
  <% @uploads.each do |uploads| %>
  <%= link_to image_tag(uploads.picture.url(:small)), uploads %>
  <% end %>
  </div>
 <a class="show"href="/uploads"><h2 class="show_more "> Show More</h2></a> 
</div>