
<div class="category-title">
<h1><%= @category.name %></h1>
</div>
<div class="hold_ad">
<div class="side_ad">
	</div>
	</div>
<div class="category-div">


<% @upload.each do |hope| %>
<%= link_to image_tag(hope.picture.url(:thumb)), hope, {:class => "href-cate", :title => " #{hope.title}"} %>
<% end %>
<%= paginate @upload %>
</div>

 <div class="cat-showad">
    
  </div>