<% @title = 'Most Recent' %>
<div class="category-title">
<h1>Most Recent</h1>
</div>
<div class="hold_ad">
		<div class="side_ad">
			<!-- later -->
		</div>
	</div>
<div class="category-div">
	
<% @uploads.each do |up|  %>
<%= link_to image_tag(up.picture.url(:thumb), :alt => up.title, :alt => up.title ), up, { :class => "img_index"} %>

<% end %>
<%= paginate @uploads %>


</div>
 
  <div class="cat-showad">
    <!-- later -->

  </div>

  