<% @title = 'Most Recent' %>
<div class="category-title">
<h1>Most Recent</h1>
</div>
<div class="hold_ad">
		<div class="side_ad">
			<script type="text/javascript"><!--
google_ad_client = "ca-pub-3387068696014466";
/* pikcam side ad 160x600 */
google_ad_slot = "0014176302";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
		</div>
	</div>
<div class="category-div">
	
<% @uploads.each do |up|  %>
<%= link_to image_tag(up.picture.url(:thumb)), up, { :class => "img_index"} %>

<% end %>
<%= paginate @uploads %>
</div>
 