<% @title = 'upload new' %>

<div class="files">
	<% if current_user %>
    <% if current_user.admin == true%>
    <%= render("uploads/form") %>
    <% else %>
     <h2> Do to improper image uploads by users we had to disable uploading to User Sorry </h2>
    <% end %>
    <% else %>
     <h2> Do to improper image uploads by users we had to disable uploading to User Sorry </h2>
    <% end %>
</div>
 
<div class="cat-showad">
    <script type="text/javascript"><!--
google_ad_client = "ca-pub-3387068696014466";
/* pik-cam 728 x 90 */
google_ad_slot = "9765718544";
google_ad_width = 728;
google_ad_height = 90;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
  </div>